<%= form_with(model: plant) do |form| %>
  <% if plant.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(plant.errors.count, "error") %> prohibited this plant from being saved:</h2>

      <ul>
        <% plant.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :plant_name, style: "display: block" %>
    <%= form.text_field :plant_name %>
  </div>

  <div>
    <%= form.label :country_name, style: "display: block" %>
    <%= form.text_field :country_name %>
  </div>

  <div>
    <%= form.label :height, style: "display: block" %>
    <%= form.number_field :height %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
